.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.categories button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 10rem;
  border: 1px solid #333;
}
