footer {
  align-items: center;
  background-color: #ccc;
  bottom: 0;
  color: #464646;
  display: flex;
  font-family: sans-serif;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.footer-icons {
  display: flex;
  flex-direction: column;
}
